main .bg {
  width: 115%;
  top: calc(50% + 200px);
}
main {
  width: 729px;
}
.chatting main .bg {
  top: calc(50% + 120px);
}
.window {
  margin-top: 100px;
  border-radius: 12px;
  overflow: hidden;
  display: none;
}
.window .info {
  display: flex;
  padding: 20px 0;
  background: white;
}
.window .info > * {
  flex: 1 1 0px;
}
.window .info .user {
  padding-top: 15px;
}
.window .info .user-you {
  padding-right: 20px;
  text-align: right;
}
.window .info .user-other {
  padding-left: 20px;
}
.window .info .user .name {
  font-weight: bold;
  display: inline;
}
.window .info .user img {
  display: inline;
  width: 25px;
  transform: translate(0, 4px);
}
.window .info .user .status {
  color: #424242;
}
.window .info .swipe .button {
  background-image: linear-gradient(
    262deg,
    rgb(255, 120, 84),
    rgb(253, 38, 125),
    rgb(255, 120, 84)
  );
  background-size: 240px;
  color: white;
  border: none;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  text-transform: uppercase;
  width: 120px;
  padding: 20px 0;
  border-radius: 50px;
  font-weight: bold;
  margin: 0 auto;
  display: block;
  cursor: pointer;
  transition-property: background;
  transition-duration: 0.2s;
  text-align: center;
}
.window .info .swipe .button:hover {
  background-position: -120px;
}
.window .chat {
  padding: 10px;
  display: flex;
  flex-direction: column;
  height: 400px;
  overflow-y: scroll;
  background-image: url("../images/chat-bg.jpg");
}
.window .chat .message {
  max-width: 80%;
  padding: 8px;
  border-radius: 5px;
  margin-top: 7px;
  font-family: sans-serif;
  letter-spacing: 0px;
  animation: slide-bottom 0.2s ease-out both;
}
.window .chat .message.you {
  background: rgb(255, 231, 227);
  border-bottom-right-radius: 0;
  float: right;
  align-self: flex-end;
  padding-right: 10px;
}
.window .chat .message.other {
  background: white;
  border-bottom-left-radius: 0;
  align-self: flex-start;
}
.window .chat .chat-start {
  padding: 2px 20px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.295);
  width: fit-content;
  align-self: center;
  color: white;
  font-size: 1rem;
}
.window .field {
  background: white;
  padding: 12px;
}
.window .field .media img {
  width: 30px;
  margin-top: 5px;
}
.window .field form {
  display: flex;
  position: relative;
}
.window .field #message {
  flex: 1 1 0px;
  resize: none;
  border: none;
  font-size: 1.3rem;
  height: 36px;
  padding: 7px 0 0 10px;
  font-family: arial;
}
.window .field #message:focus {
  outline: none;
}
.window .field input[type="submit"] {
  width: 30px;
  height: 30px;
  background: url("../images/send-button.svg");
  background-size: contain;
  border: none;
  outline: none;
  margin-top: 5px;
  filter: opacity(0.8);
}
@media all and (max-height: 900px) {
  .window {
    margin-top: 20px;
  }
}
@media all and (max-height: 820px) {
  .window {
    margin-top: 20px;
    border-radius: 0;
    height: 100vh;
    max-height: -webkit-fill-available;
  }
  .window .chat {
    height: calc(100% - 174px);
  }
  .window .info {
    padding: 10px 0;
  }

  .window .field {
    width: calc(100vw - 24px);
  }
  .chatting footer {
    display: none;
  }
  .chatting .slogan {
    display: none;
  }
  .chatting .logo {
    display: none;
  }
  main {
    width: 100%;
    padding-top: 0;
    height: 100%;
  }
  .window {
    margin-top: 0;
  }

  main .bg {
    top: calc(50% + 0px);
    width: 82%;
  }
}
@media all and (max-width: 739px) {
  .window .info .swipe .button {
    font-size: 1rem;
    width: 80px;
  }
  .window .info .user .name {
    font-size: 0.9rem;
  }
  .window .info .user .status {
    font-size: 0.9rem;
  }
  .window .field #message {
    font-size: 1.2rem;
    padding: 10px 0 0 10px;
  }
  .window .field input[type="submit"] {
    width: 25px;
    height: 25px;
    margin-top: 10px;
  }
  .window .field .media img {
    width: 25px;
    margin-top: 8px;
  }
  main {
    width: 100%;
    height: 100%;
  }
  main .bg {
    top: 50% !important;
  }
  .loading img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 !important;
  }
}

.loading {
  margin-top: 50px;
}
.loading img {
  display: block;
  margin: 210px auto 0 auto;
  width: 50vw;
  max-width: 250px;
}

.fact {
  color: #424242;
  text-align: center;
}

@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
