main .over {
  padding-top: 40px;
  color: #424242;
  font-size: 1.4rem;
  text-align: center;
}
main .bg {
  top: calc(50% + 100px);
}

main input[type="submit"] {
  background-image: linear-gradient(
    262deg,
    rgb(255, 120, 84),
    rgb(253, 38, 125),
    rgb(255, 120, 84)
  );
  background-size: 500px;
  color: white;
  border: none;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  width: 250px;
  padding: 20px 0;
  border-radius: 50px;
  font-weight: bold;
  text-transform: capitalize;
  margin: 20px auto 0 auto;
  cursor: pointer;
  transition-property: background;
  transition-duration: 0.2s;
  display: block;
  text-decoration: none;
  transition: filter 0.3s;
  filter: none;
}
main input[type="submit"]:disabled {
  filter: grayscale();
}
main input[type="submit"]:focus {
  outline: none;
}
main .ad {
  width: 300px;
  height: 250px;
  display: block;
  margin: 105px auto 20px auto;
}
.share img {
  width: 26px;
  height: 26px;
  margin: 10px;
}
.share {
  display: flex;
  flex: 1 1 auto;
}
@media all and (max-height: 750px) {
  main .ad {
    margin: 30px auto 20px auto;
  }
}
@media all and (max-height: 670px) {
  main .over {
    padding-top: 10px;
    font-size: 1.2rem;
  }
}
