html {
  overflow: hidden;
}
body {
  background: url(../images/cool-background.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f2f2f2;
  width: 100vw;
  margin: 0;
  background-position: center;
  position: relative;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  overflow: hidden;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

main a {
  text-decoration: none;
}
html {
  height: -webkit-fill-available;
}
main {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  padding-top: 20px;

  width: 630px;
}
main .slogan {
  text-align: center;
  margin: 0;
  font-size: 1.4rem;
  color: #424242;
}
main .bg {
  position: absolute;
  top: calc(50% + 150px);
  left: 50%;
  width: 110%;
  filter: opacity(0.8);
  z-index: -1;
  transform: translate(-50%, -50%);
}
main .logo {
  width: 248px;
  display: block;
  margin: 0 auto;
}
@media all and (max-width: 732px) {
  main {
    width: 95%;
  }
  main .slogan {
    font-size: 1.2rem;
  }
}
footer {
  position: absolute;
  bottom: 20px;
  color: #fd2a7a;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
}
footer .disclaimer {
  display: block;
  text-decoration: none;
  margin-top: 55px;
  color: #fd2a7a;
}
@media all and (max-height: 780px) {
  footer .disclaimer {
    margin-top: 20px;
  }
}

.rotate-screen {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.rotate-screen p {
  font-size: 20pt;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
}
.rotate-screen img {
  width: 150px;
  height: 150px;
  display: block;
  margin: 0 auto;
}
@media screen and (min-device-aspect-ratio: 1/1) and (max-height: 500px) {
  body > * {
    display: none;
  }
  html body .rotate-screen {
    display: block;
  }
}
