main form {
  display: block;
  position: relative;
  background: white;
  padding: 20px;
  text-align: center;
  margin-top: 200px;
  border-radius: 12px;
}
main form p {
  margin-bottom: 15px;
  text-transform: capitalize;
  font-size: 1.6rem;
  color: #424242;
}
main form input[type="text"] {
  width: calc(100% - 40px);
  border: none;
  background: #f2f2f2;
  border-radius: 5px;
  padding: 15px 10px;
  color: black;
  font-size: 16px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}
main form input:focus {
  outline: none;
}
main form input[type="text"]::placeholder {
  font-size: 16px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  color: #424242;
}
main form input[type="submit"] {
  background-image: linear-gradient(
    262deg,
    rgb(255, 120, 84),
    rgb(253, 38, 125),
    rgb(255, 120, 84)
  );
  background-size: 500px;
  color: white;
  border: none;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  width: 250px;
  padding: 20px 0;
  border-radius: 50px;
  font-weight: bold;
  text-transform: capitalize;
  margin-top: 20px;
  cursor: pointer;
  transition-property: background;
  transition-duration: 0.2s;
}
main form input[type="submit"]:hover {
  background-position: -200px;
}

footer .online p {
  font-size: 1.4rem;
  margin: 0;
  white-space: nowrap;
}
footer .online .counter {
  font-size: 1.5rem;
  font-weight: bold;
}

@media all and (max-height: 900px) {
  main form {
    margin-top: 12vh;
  }
  main .bg {
    top: calc(50% + 12vh);
  }
}
@media all and (max-width: 450px) {
  main form p {
    font-size: 1.3rem;
  }
  main form input[type="submit"] {
    width: 170px;
    font-size: 1.1rem;
  }
}
